
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Sofadi One", system-ui;
}
/* colore and design */

a{
  text-decoration: none;
}
li{
  list-style: none;
}
.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon{
  font-size: 32px;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
}
.btn{
  padding: .5rem;
  background: -webkit-linear-gradient(rgb(40, 241, 255) ,rgb(67, 167, 189));
  border-radius: 3rem;
  cursor: pointer;
  color: rgb(16, 3, 255);
  font-size: 16px;
  border: none;

}
.btn a{
  color: white;
  font-size: 30px;
}
.btn:hover{
  background-color: aquamarine;
}
img,video{
  width: 100%;
  height: auto;
}
input{
  font-size: 30px;

}
body{
  background-color: rgb(246, 248, 248);
}